{% load static %}
<html>
<head>
	{% load compress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?{% now 'U' %}" />
	{% block current_css %}{% endblock %}
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Work+Sans:900" rel="stylesheet">
	<title>Rate Your Movies</title>
	{% endcompress %}
</head>


<body>
{% block perspective_start %}
{% endblock %}
	<!-- HEADER -->
	<div class="wrap headerwrap">
		<header class="header cf">
			<div class="logo"><a href="/">RateYourMovie</a></div>
			<div class="topmenu">
				<dl>
					<dt class="hide">Menu</dt>
					<dd class="about" ><a href="#">ABOUT</a></dd>
					<dd class="register"><a href="/signup">REGISTER</a></dd>
					<dd class="login"><a href="/login">LOGIN</a></dd>
					<dd class="search"><a href="/search?query=">SEARCH</a></dd>
					<dd class="list"><a href="/listing?m_id=-1">LIST</a></dd>
					<dd class="logout"><a href="/logout">LOGOUT</a></dd>
				</dl>
			</div>
		</header>
	</div>
	<!-- HEADER -->

	{% block content %}
	{% endblock %}
{% block perspective_end %}
{% endblock %}
	{% block js %}
	{% endblock %}
</body>



</html>