{% extends 'base.html' %}

{% block current_css %}
	<link rel="stylesheet" type="text/css" media='all' href="/static/css/demo.css?{% now 'U' %}" />
	<link rel="stylesheet" type="text/css" media='all' href="/static/css/component.css?{% now 'U' %}" />
	<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
	<script src="/static/js/modernizr.custom.25376.js"></script>
{% endblock current_css %}

{% block perspective_start %}
<div id="perspective" class="perspective effect-moveleft">
	<div class="container">
		<div class="wrapper">
{% endblock perspective_start %}

{% block content %}
			<div class="main clearfix">
				<div class="column">
					<span class="title">Review for {{movie.title}}</span>
				</div>
				<div class="column rating">
					<span class="rating-{{ current_review.rating }} fill" ></span>
					<span class="rating-{{ current_review.rating }} empty" ></span>
				</div>
				<div class="column">
					<span class="review">{{ current_review.review }}</span>
				</div>
				<div class="column">
					<p><button id="showMenu"><i class="fa fa-bars" aria-hidden="true"></i></button></p>
				</div>
			</div> <!-- main -->
		</div> <!-- wrapper -->
	</div> <!-- container -->
	<nav class="outer-nav right vertical">
		{% for title, id in movie_list %}
		<a href="/listing?m_id={{ id }}"><i class="fa fa-imdb" aria-hidden="true"></i> {{ title }}</a>
		{% endfor %}
	</nav>
{% endblock content %}

{% block perspective_end %}
</div>
{% endblock perspective_end %}

{% block js %}
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/menu.js"></script>
{% endblock %}