{% extends 'base.html' %}

{% block current_css %}
	<link rel="stylesheet" type="text/css" media='all' href="/static/css/search.css?{% now 'U' %}" />
	<link rel="stylesheet" type="text/css" media='all' href="/static/css/inputbox.css?{% now 'U' %}" />
	<link rel="stylesheet" type="text/css" media='all' href="/static/css/result.css?{% now 'U' %}" />
	<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
	<!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
{% endblock current_css %}

{% block content %}
	<!-- BODY -->
	<div class="container">
		<section class="search_bar">
			<section class="search">
				<div class="input input--makiko">
					<form id="search_form", action="/search" method="get" accept-charset="utf-8">
						<input class="input__field input__field--makiko" dir="auto" id="search_v4" name="query" type="text" tabindex="2" autocorrect="off" autofill="off" autocomplete="off" spellcheck="false" value="">
							<label class="input__label input__label--makiko" for="search">
								<span class="input__label-content input__label-content--makiko">Search for your movie!</span>
							</label>
					</form>
				</div>
			</section>
		</section>

		<section class="result-section">
			<div class="result result--yonten">
				{% for key, val in search_result.items %}
					<div class="result__item">
						<h3 class="result__title">{{ val.title }}</h3>
						<h4 class="result__release-date">{{ val.release_date }}</h4>
						{% if val.poster_path != "none" %}
							<div class="result__poster">	
								<img src="{{ val.poster_path }}"/>
							</div>
						{% else %}
							<div class="result__poster no-image">
								<div class="fa fa-picture-o fa-5x" aria-hidden="true"></div>
							</div>
						{% endif %}
						<button class="result__action"><a href="/review?movie={{val}}">Choose</a></button>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock content %}