@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #ddd;
	color: #5a5350;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #ed8151;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: block;
	content: " ";
}

.main {
	max-width: 95em;
	margin: 0 auto;
	min-height: 90%;
}

.column {
	float: left;
	width: 100%;
	padding: 0 2em;
	position: relative;
	text-align: right;
}

.column:nth-child(3) {
	position: absolute;
	bottom: 3%;
	right: 5%;
	padding-bottom: 1%;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #b5b5b5;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	font-weight: 400;
	outline: none;
	font-size: 75%;
}

button:hover,
button:active {
	background: #da6484;
}
