body {
	background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), url('../image/civil_war.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

.message {
	padding-top:10%;
	font-family: 'Work Sans', sans-serif;
	position: relative;
	width: 100%;
	text-align: center;
}

.message p {
	color: #FFF;
	font-size: 50px;
}

/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 10em;
	line-height: 1;
	display: inline-block;
}

/* Kukuri */
.link--kukuri {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #FFF;
}

.link--kukuri:hover {
	color: #D9D9D9;
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #A3A3A3;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}



/*

<div class="message">
	<p> Start rating </p>
	<a class='link link--kukuri' href="/signup" data-letters="Sign Up">Sign Up</a>
</div>

*/