dd.register {
	display: none !important;
}

dd.login {
	display: none !important;
}

dd.logout {
	display: inline !important;
}

body {
	background: url('../image/home.png');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.message {
	padding-top:10%;
	font-family: 'Work Sans', sans-serif;
	position: relative;
	width: 100%;
	text-align: center;
}

.message p {
	color: #FFF;
	font-size: 50px;
}