body {
	background: url('../image/signupbg.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.errorlist {
	display:none;
}

.content-login {
	width:100%;
	font-size: 150%;
	padding: 3em 0;
	margin: 0 auto;
	overflow: hidden;
}

.loginform {
    display: inline-block;
    text-align: center;
    width:100%;
}
